{{> pageHeader}}
<h2>Recorded so far</h2>
<table>
    <tr>
        <th>Alarm</th>
        <th>Times Called</th>
    </tr>
    {{#rows}}
        <tr class="{{cssClass}}">
            <td>{{alert}}</td>
            <td>{{value}}</td>
        </tr>
    {{/rows}}
</table>
<p>To trigger an alarm: <a href="/alarm">manually</a></p>
{{> pageFooter}}