<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>Alarms recorded</title>
    <link rel="stylesheet" type="text/css" href="mainstay.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="mainstay.js"></script>
</head>
<body>
<div class="border">
    <h2>Current server loads</h2>

    <p>
        Average CPU: <b id="averageLoad">{{averageLoad}}</b>
    </p>

    <p>
        Current CPU: <b id="systemCpuLoad">{{systemCpuLoad}}</b>
    </p>

    <p>
        CPU due to this webservice: <b id="cpuLoad">{{cpuLoad}}</b>
    </p>
</div>
<p/>

<div class="border">
    <h2>Stress this server!</h2>

    <form action="stress" method="post" autocomplete="on">
        <label>
            Number of CPU's:
        </label>
        <lable>1<input type="radio" name="cpu_count" value="1" checked/></lable>
        <lable>2<input type="radio" name="cpu_count" value="2"/></lable>
        <lable>4<input type="radio" name="cpu_count" value="4"/></lable>
        <lable>8<input type="radio" name="cpu_count" value="8"/></lable>
        <br/>
        <label>
            Duration in seconds:
            <input type="number" name="timeout" value="60">
        </label>
        <br/>
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>