<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Ceilometer alarm counter</title>
    <link rel="stylesheet" type="text/css" href="mainstay.css">
</head>
<body>
<h1>Ceilometer alarm counter</h1>