<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="300"><!-- yuck -->
    <title>Ceilometer alarm counter</title>
    <link rel="stylesheet" type="text/css" href="/mainstay.css">
</head>
<body>
<h1>Ceilometer alarm counter</h1>
<div class="border">
    <h2>Recorded so far</h2>

    <div class="table">
        <table>
            <tr>
                <th> Alarm Name </th>
                <th> Times Called </th>
            </tr>
            {{#rows}}
                <tr class="{{cssClass}}">
                    <td><a href=/view/{{alert}}>{{alert}}</a></td>
                    <td>{{value}}</td>
                </tr>
            {{/rows}}
        </table>
    </div>
</div>
<p>to trigger an alarm: <a href="/alarm">manually</a></p>
{{> pageFooter}}