{{> pageHeader}}
<div class="border">
    <h2>Recorded so far</h2>

    <div class="table">
        <table>
            <tr>
                <th> Alarm Name </th>
                <th> Times Called </th>
            </tr>

        </table>
    </div>
</div>
<p>Back to <a href="/totals">totals</a></p>
{{> pageFooter}}